<link href="~/Content/bootstrap.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2 align="center">Index</h2>

@ViewBag.MessageRVE

<div class="container" style="width:40%;margin-top:2%">
    @{ 
        string question = "Hogy vagy ma?";

        <b>Kérdés változó értéke: @question</b>
    }

    @{ 
        string message = "Több változós block elkészítése...";
        int i = 2;
        int j = 3;
        int k = i + j;

        <p></p>
        <b>@message</b>
        <div>
            <b>@i + @j = @k</b>
        </div>
    }

    <p></p>
    <b>@message</b>
    <div>
        <b>@i + @j = @k</b>
    </div>

    <p></p>
    <div>
        A mai nap @DateTime.Now.DayOfWeek van!
    </div>

    <p></p>
    <div>Ciklus elkészítése...</div>

    @for(int l = 0; l < 10; l++)
    {
        <div>
            Ciklusváltozó értéke: @l
        </div>
    }

    <p></p>
    <div>IF Függvény elkészítése...</div>
    @{ 
        int number = 6;
    }

    @if(number % 2 == 0)
    {
        <div>
            @number egy páros szám!
        </div>
    }
    else
    {
        <div>
            @number nem egy páros szám!
        </div>
    }
</div>