@model IEnumerable<AddSearchFunctionality.Models.ViewModels.EmployeeViewModel>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr id="row_@item.EmployeeID">
            <td>@item.Name</td>
            <td>@item.DepartmentName</td>
            <td>@item.Adress</td>
            <td>
                <a href="#" class="btn btn-danger" onclick="ConfirmDeleteEmployee(@item.EmployeeID)">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
            <td>
                <a href="#" class="btn btn-success" onclick="ShowEmployeeDetails(@item.EmployeeID)">
                    <i class="glyphicon glyphicon-eye-open"></i>
                </a>
            </td>
            <td>
                <a href="#" class="btn btn-primary" onclick="EditEmployeeDetails(@item.EmployeeID)">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
            </td>
        </tr>
    }
}