<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Example Application</title>

    @Styles.Render("~/Content/css")

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="~/Content/Images/facebok-circular-logo_318-40188.jpg" height="20" width="20">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Szolgáltatások <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" id="myTab">
                            <li role="presentation"><a href="#music" aria-controls="music" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-music"> </span> Zene és tánc</a></li>
                            <li class="divider"></li>
                            <li role="presentation"><a href="#training" aria-controls="training" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-book"> </span> Tréningek</a></li>
                            <li class="divider"></li>
                            <li role="presentation"><a href="#website" aria-controls="website" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-cloud"> </span> Weboldal Design</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Rólunk</a></li>
                    <li><a href="#">Karrier</a></li>
                </ul>

                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Keresés">
                    </div>
                    <button type="submit" class="btn btn-default">Keres</button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Bejelentkezés</a></li>
                    <li><a href="/Example/Registration">Regisztráció</a></li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">

        @RenderBody()

        <hr />
    </div>

    <div class="well" style="background-color:#000000;color:wheat;margin-bottom:0px">
        <div class="col-lg-4" style="margin-left:20px">
            <h3><span class="glyphicon glyphicon-map-marker"></span> Cím</h3>
            <ul class="list-group list-unstyled">
                <li>Teszt Zrt.</li>
                <li>Teszt Utca 68.</li>
                <li>Teszt Város</li>
            </ul>
        </div>

        <div class="col-lg-4">
            <h3><span class="glyphicon glyphicon-cog"></span> Szolgáltatások</h3>
            <ul class="list-group list-unstyled">
                <li><span class="glyphicon glyphicon-music"></span><a href="#"> Zene és Tánc</a></li>
                <li><span class="glyphicon glyphicon-book"></span><a href="#"> Tréningek</a></li>
                <li><span class="glyphicon glyphicon-globe"></span><a href="#"> Weboldal Design</a></li>
            </ul>
        </div>

        <div class="col-lg-3">
            <h3><span class="glyphicon glyphicon-briefcase"></span> Karrier</h3>
            <ul class="list-group list-unstyled">
                <li><span class="glyphicon glyphicon-music"></span><a href="#"> Zene és Tánc</a></li>
                <li><span class="glyphicon glyphicon-book"></span><a href="#"> Tréningek</a></li>
                <li><span class="glyphicon glyphicon-globe"></span><a href="#"> Weboldal Design</a></li>
            </ul>
        </div>

        <div style="clear:both"></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
