@model PaginationUsingSkipAndTakeMethod.Models.ViewModels.EmployeeViewModel

<form id="employeeForm">
    @Html.HiddenFor(model => model.EmployeeID)

    @Html.DropDownListFor(model => model.DepartmentID, TempData["DepartmentsDicitionaryTableElements"] as SelectList, "--- Kérem válaszon! ---", new { @class = "form-control" })

    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Név" })

    @Html.TextBoxFor(model => model.Adress, new { @class = "form-control", @placeholder = "Cím" })

    @Html.TextBoxFor(model => model.SiteName, new { @class = "form-control", @placeholder = "Oldal név" })

    <p></p>
    <a href="#" id="btnSubmit" class="btn btn-success btn-block">
        @if (@Model.EmployeeID > 0)
        {
            <span>Frissítés</span>
        }
        else
        {
            <span>Mentés</span>
        }
    </a>
</form>

<div style="text-align:center;display:none" id="loaderGIFDiv">
    <img src="~/Content/InternetSlowdown_Day.gif" width="150" />
</div>

<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            $("#loaderGIFDiv").show();

            var data = $("#employeeForm").serialize();

            $.ajax({
                type: "POST",
                url: "/Home/SaveEmployee",
                data: data,
                success: function () {
                    $("#loaderGIFDiv").hide();
                    alert("Az adatok megfelelőek voltak! Sikeres rögzítés!");
                    window.location.href = "";
                }
            });
        });
    })
</script>

