<!--Bootstrap stílus implementálása-->
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<!--Modell definiálása-->
@model IEnumerable<HyperlinksAndButtonsExample.Models.ViewModels.EmployeeViewModel>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2 align="center">Index</h2>

@ViewBag.MessageHL

<!--Egyszerű Hyperlinks example-->
<!--Dolgozók nevei megjelenítése a view-on egyszerű hyperlink formátumban-->
<div class="container" style="width:30%;margin-top:2%">
    @if(Model != null)
    {
        <ul>
            @foreach(var item in Model)
            {
                <li>
                    <a href="/Example/EmployeeDetail?EmployeeID=@item.EmployeeID">@item.Name</a>
                </li>
            }
        </ul>
    }
</div>

@ViewBag.MessageHLB

<!--Hyperlinks example Button objektumként-->
<!--Dolgozók nevei megjelenítése a View-on Button objektumként-->
<div class="container" style="width:30%;margin-top:2%">
    @if (Model != null)
    {
        <ul class="list-group">
            @foreach (var item in Model)
            {
                <li class="list-group-item">
                    <!--HTML kóddal megoldva-->
                    <!--
                    <a class="btn btn-block btn-primary" href="/Example/EmployeeDetail?EmployeeID=@item.EmployeeID">@item.Name</a>
                    -->

                    <!--HTML Helper használatával Action link készítése-->
                    <!--Szintaktika(Link szöveg, Action Name, Paraméterben átadandó Átadandó objektum, HTML attribútum (Hogy jelenjen meg az Action Link))-->
                    @Html.ActionLink(@item.Name, "EmployeeDetail", new { EmployeeID = item.EmployeeID}, new { @class = "btn btn-block btn-success" })
                </li>
            }
        </ul>
    }
</div>