<link href="~/Content/bootstrap.css" rel="stylesheet" />

@model IEnumerable<HyperlinksAndButtonsExample.Models.ViewModels.EmployeeViewModel>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2 align="center">Index</h2>

@ViewBag.MessageHL

<div class="container" style="width:30%;margin-top:2%">
    @if(Model != null)
    {
        <ul>
            @foreach(var item in Model)
            {
                <li>
                    <a href="/Example/EmployeeDetail?EmployeeID=@item.EmployeeID">@item.Name</a>
                </li>
            }
        </ul>
    }
</div>

@ViewBag.MessageHLB

<div class="container" style="width:30%;margin-top:2%">
    @if (Model != null)
    {
        <ul class="list-group">
            @foreach (var item in Model)
            {
                <li class="list-group-item">
                    @Html.ActionLink(@item.Name, "EmployeeDetail", new { EmployeeID = item.EmployeeID}, new { @class = "btn btn-block btn-success" })
                </li>
            }
        </ul>
    }
</div>