@model ServerAndClientSideValidationExample.Models.ViewModels.EmployeeViewModel

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<style>
    .error {
        color: red;
    }
</style>

<h2 align="center">Index</h2>

<div class="container" style="width:40%;margin-top:2%">
    @using (Html.BeginForm("SaveEmployee", "Example", FormMethod.Post))
    {
        @Html.DropDownListFor(@model => model.DepartmentID, TempData["DepartmentsDicitionaryTableElements"] as SelectList, "--- Kérem válaszon! ---", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "error" })

        @Html.TextBoxFor(@model => model.Name, new { @class = "form-control", @placeholder = "Név" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "error" })

        @Html.TextBoxFor(@model => model.Adress, new { @class = "form-control", @placeholder = "Cím" })
        @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "error" })

        <input type="submit" value="Mentés" class="btn btn-primary btn-block" />
    }
</div>
