<link href="~/Content/bootstrap.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Index</h2>

@ViewBag.MessageAboutVB

<table class="table table-striped" style="width:60%" align="center">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
    </tr>
    <tbody>
        @foreach (var item in ViewBag.Employees)
        {
            <tr>
                <td>@item.EmployeeID</td>
                <td>@item.Name</td>
                <td>@item.Department</td>
            </tr>
        }
    </tbody>
</table>

@ViewBag.MessageAboutVD

<table class="table table-striped" style="width:60%" align="center">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
    </tr>
    <tbody>
        @foreach (var item in ViewData["Employees"] as List<ViewBagnViewDatanTempDataExample.Models.Employee>)
        {
            <tr>
                <td>@item.EmployeeID</td>
                <td>@item.Name</td>
                <td>@item.Department</td>
            </tr>
        }
    </tbody>
</table>

@ViewBag.MessageAboutTD

<ul class="list-group">
    <li class="list-group-item">
        ViewBag value is: <b>@ViewBag.EmployeeNameVB</b>
    </li>
    <li class="list-group-item">
        TempData value is: <b>@ViewData["EmployeeNameVD"]</b>
    </li>
    <li class="list-group-item">
        TempData value is: <b>@TempData["EmployeeName"]</b>
    </li>
</ul>

<h2>Navigálás a TempData példa bemutatására</h2>

<a href="/Example/SecondPage">Go to the Second Page</a>